.form {
    text-align: center;
    margin: auto;
    width: 60%;
    border-radius: 12px;
    background-color:rgba(218, 162, 162, 0.694);
    border: 5px white;
    padding: 10px;
}
h1 {
    color: black;
    font-style:italic;
    text-align: center;    
}
h3 {
    color: black;
    font-style:italic;
    text-align: center;    
}


.box {
    background-size: 100px;

    background-repeat: no-repeat;
    background-position: 20px 10%;
  }
.box {
    background-color: rgb(72, 173, 210);
    padding: 100px;
    margin: 100px;
}
body {
background-image: url(https://previews.123rf.com/images/macrovector/macrovector1904/macrovector190400457/123522969-set-of-cartoon-icons-family-active-holidays-parents-with-kids-in-various-activity-isolated-vector-il.jpg) ;
/* background: size 10px;; */
background-color: rgba(201, 35, 35, 0.954);
}
header{
    background: rgb(226, 163, 27);

}

#navbar {
    background-color: rgb(191, 84, 170);

}
#navbar li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

li {
    color: black;
   font-size-adjust: 40spx;
   margin: auto;
   width: 60%;
   border-radius: 20px;
   background-color:rgba(218, 162, 162, 0.694);

}

button {

    padding: 12px 24px;
    border-radius: 50px;
    border-style: groove;
    color: rgb(232, 145, 14);
    cursor: pointer;
}

button:focus,
button:hover {
    background-color: blue;
    color:blueviolet
}

.box1{
    width: 100%;
    text-align:center;
}