.form {
    text-align: center;
    margin: auto;
    width: 60%;
    border-radius: 12px;
    background-color: #5ab6d8;
    border: 5px white;
    padding: 10px;
}
body {
background-color: rgb(189, 62, 62);
}

#navbar {
    background-color: rgb(112, 107, 107);
}

li {
    color: darkgreen;
}

button {
    padding: 12px 24px;
    border-radius: 50px;
    border: none;
    color: burlywood;
    cursor: pointer;
}

button:focus,
button:hover {
    background-color: blue;
    color:blueviolet
}